# config.yaml

# File I/O
controlImage: False
controlPath: "/scratch/qgs8612/worm1/565"
smFISHChannelPath: "/scratch/qgs8612/worm1/565/Image1_565.tif"



# Spot detection
controlThreshold: null
experimentThreshold: null
minimal_distance: [3, 3, 3]
kernel_size: [1, 1.7, 1.7]
control_voxel_size: [361, 75, 75]
voxel_size: [361, 75, 75]
spot_size: [600, 300, 300]
decomposition_thresh: [0.7, 1, 5]
min_spots_for_clusters: 4
plot_spot_size: 4


# Gaussian fitting
gaussian_fit_fraction: 1.0        # fraction of spots to Gaussian-fit
intensity_percentile_cutoff: 99.9 # percentile of GOOD spots (lower bound)
random_seed: 0                    # reproducibility
r2_threshold : 0.8

# --- Decomposition / Clustering ---
decomposition_thresh: [0.7, 1, 5]
min_spots_for_clusters: 4
radius_for_spots: 250

# --- Plotting / Advanced settings ---
spotsRadiusDetection: True
saveSpotInformation: true
plotInnerCircle: false
plotExactSpot: false
exactSpotSize: 2
plotSpotLabel: false
plot_spot_size: 4
results_folder: results
use_gpu: True
gpu_device: cuda